<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<a href="/">Home</a>

<h1>Create Your Comparison</h1>

Start: {{city1}}
<br><br>
End: {{city2}}



<br><br>

<form action="/save_results">

<input type="hidden" id="custId" name="startCity" value="{{city1}}">
<input type="hidden" id="custId" name="endCity" value="{{city2}}">

<table width="500px">

<tr>
    <th width="50%" style="text-align:left;">Starting</th>

    <th width="50%" style="text-align:left;">Ending</th>
</tr>

{% for neighborhood in START_NEIGHBORHOODS %}

<tr>
    <td>
        {{neighborhood}}
    </td>
    <td>

        <select name="{{neighborhood}}" id="{{neighborhood}}">
            <option disabled selected value> -- select an option -- </option>
        {% for match in END_NEIGHBORHOODS %}
            <option value="{{match}}">{{match}}</option>
        {% endfor %}
        </select>
    </td>

</tr>

{% endfor %}

</table>

<br><br>
<input type="submit" value="Save All Comparisons">

</form>
