<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<a href="/">Home</a>

<h1>Create Your Comparison</h1>

<h2>
Start: {{city1}}
<br>
End: {{city2}}
</h2>

<br>
Enter as many comparisons as you like. You can leave some blank
<br>


<br><br>

<form action="/save_results">

<input type="hidden" id="custId" name="startCity" value="{{city1}}">
<input type="hidden" id="custId" name="endCity" value="{{city2}}">

Add optional username if you'd like to view your results later
<input type="text" name="username"><br>


<div>

    <div style="float:left;">

        <table width="500px">

        <br>

        <tr>
            <th width="50%" style="text-align:left;">{{city1}}</th>

            <th width="50%" style="text-align:left;">{{city2}}</th>
        </tr>

        {% for neighborhood in START_NEIGHBORHOODS %}

        <tr>
            <td>
                {{neighborhood}}
            </td>
            <td>

                <select name="{{neighborhood}}" id="{{neighborhood}}">
                    <option disabled selected value> -- select an option -- </option>
                {% for match in END_NEIGHBORHOODS %}
                    <option value="{{match}}">{{match}}</option>
                {% endfor %}
                </select>
            </td>

        </tr>

        {% endfor %}

        </table>

    </div>

    <div style="float:left;">
        <h3>Options</h3>
        {% for match in END_NEIGHBORHOODS %}
            <div>{{match}}</div>
        {% endfor %}
    </div>

</div>

<div style="clear:both;"></div>

<br><br>
<input type="submit" value="Save All Comparisons">

</form>
